<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <form action="/perform_login" method="post">
        <label>Логин</label>
        <input type="text" name="login" placeholder="Введите логин">
        <label>Пароль</label>
        <input type="password" name="password" placeholder="Введите пароль">
        <button type="submit" name="submit">Войти</button>
        <p>Нет профиля ? <a href="../WEB-INF/pages/register.html">Зарегистрироваться</a></p>
    </form>
</body>

</html>